.login-container {
    width: 300px;
    height: 100%;
    align-items: center;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.iskolutions-logo {
    display: block;
    margin: 0 auto 20px auto;
    width: 100px;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;;
}

h1 {
    font: 48px "verdana", sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

label {
    font: 16px "verdana", sans-serif;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}