body {
  background-color: rgb(40, 40, 40);
  display: flex;
  margin-top: 2.5rem;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

aside {
  margin-left: 2rem;
  width: 41.67%;
  height: 100%;
  text-align: right;
}

main {
  width: 58.33%;
  padding: 20px;
}

main h1, main h2, main h3, main p {
  margin-left: 20px;
  text-align: left;
  font-family: Roboto;
}

.container {
  max-width: 95%;
}

.about p {
  max-width: 95%;
}

main p {
  color: white;
  font-size: 1.25rem;
  text-align: left;
  margin: 5%
}

main h1 {
  font-weight: bold;
  font-size: 2rem;
  color: #06a641;
}

.img-container {
  display: flex;
  justify-content: flex-end;
}

#gradpic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gradpic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.toggler {
  display: none;
}

.collapsable-nav {
  display: block;
  width: 100%;
  align-items: flex-end;
  margin-top: 1.5rem;
  overflow: hidden;
}

.collapsable-nav.show {
  animation: slideDown 0.5s forwards;
}

.collapsable-nav.hide {
  animation: slideUp 0.5s forwards;
}

li {
  margin: 10px;
  list-style-type: none;
}

li a {
  color: #eee;
  text-decoration: none;
}

.header {
  width: 100%;
  margin-right: 20px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column; 
}

.header-text {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  font-family: Roboto;
  text-align: right;
  margin: 0;
  margin-top: 1em;
}

h1, h2 {
  font-weight: bold;
  color: #06a641;
  font-size: 2rem;
}

h3 {
  color: #eee;
  font-size: 1.25em;
}

.email {
  font-family: Roboto;
  text-decoration: none;
  color: #fff;
}

.button,
.button-6 {
  align-items: center;
  background-color: rgb(40, 40, 40);
  border: 1px solid #fff;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  display: inline-flex;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin-left: 10px;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus,
.button:hover,
.button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 1);
  background-color: #fff;
}

.button-6:hover,
.button:hover {
  transform: translateY(-1px);
}

.button-6:active,
.button:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.active-state {
  background-color: #f0f0f1 !important;
  border-color: rgba(0, 0, 0, 0.15) !important;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px !important;
  color: rgba(0, 0, 0, 0.65) !important;
  transform: translateY(0) !important;
}

.button1 {
  margin-right: 20px;
}

.logo {
  height: 50px;
  width: 50px;
}

.subcontainer {
  width: 100%;
  border-radius: .25rem;
  border: 1px solid #444;
  margin-top: 1em;
  margin-left: 20px;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logos li img {
  max-inline-size: 50px;
}

.pills {
  align-items: center;
  background-color: rgb(40, 40, 40);
  border: 1px solid #555;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: white;
  display: inline-flex;
  font-family: Roboto;
  font-size: 1em;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin-left: 10px;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.subcontainer img {
  border-radius: 20%;
  overflow: hidden;
  max-inline-size: 150px;
  align-items: center;
}

.project {
  cursor: pointer;
  display: flex;
  width: 100%;
  border-radius: .25rem;
  border: 1px solid #444;
  margin-top: 1em;
  margin-left: 20px;
  position: relative;
}

.projects{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.pic {
  max-inline-size: 200px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative
}

@media (max-width: 768px) {
  main {
    width: auto;
  }

  .description {
    width: auto;
  }

  .description p {
    margin: 7.5%;
  }

  .subcontainer,
  .project{
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
  }

  .pic-container {
    max-inline-size: 200px;
    display: block;
  }

  .toggler {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
  }

  .button {
    display: flex;
    color: white;
    border-color: white;
    align-items: center;
  }

  body {
    flex-direction: column;
  }

  aside {
    margin: 0;
    align-items: center;
    width: 100%;
  }

  h2,
  h3,
  ul,
  .email {
    text-align: center;
    padding: 0;
  }

  .collapsable-nav {
    display: none;
    align-items: center;
  }

  .header {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

@keyframes slideDown {
  from {
    max-height: 0;
  }
  to {
    max-height: 500px;
  }
}

@keyframes slideUp {
  from {
    max-height: 500px;
  }
  to {
    max-height: 0;
  }
}